<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd 
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">
		
		<!-- Activation des annotations spring -->
		<context:annotation-config></context:annotation-config>
		
		<!-- Emplacement des class avec annotation -->
		<context:component-scan base-package="beans"></context:component-scan>
		
		<!-- Active les annotations de type aspect -->
		<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
		
		<aop:config>
			<aop:aspect ref="spectateur"></aop:aspect>
		</aop:config>
		
		
		<bean id="spectateur" class="beans.Spectateur"></bean>
<!-- 		<bean id="guitare" class="beans.Guitare"></bean> -->
<!-- 		<bean id="basse" class="beans.Basse"></bean> -->
<!-- 		<bean name="guitariste" class="beans.Guitariste"> -->
<!-- 			<property name="guitare" ref="guitare"></property> -->
<!-- 		</bean> -->
<!-- 		<bean name="bassiste" class="beans.Bassiste"> -->
<!-- 			<property name="basse" ref="basse"></property> -->
<!-- 		</bean> -->
</beans>
