<br>
<div class="row">
<ul class="list-group col-1" id="menu">
  <li class="list-group-item list-group-item-primary list-group-item-action"><a href="" [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
  <li class="list-group-item list-group-item-primary list-group-item-action"><a href="" [routerLink]="['/client']" routerLinkActive="active">Client</a></li>
  <li class="list-group-item list-group-item-primary list-group-item-action"><a href="" [routerLink]="['/clients']" routerLinkActive="active">Clients</a></li>


</ul>
<br>
<router-outlet></router-outlet>
</div>
